<!DOCTYPE html>
<html>
    <head>
        <title>My Calendar</title>
        <style>
            /*カレンダーっぽく並べる*/
            .calendar-grid{
                display: grid;
                grid-template-columns: repeat(7, 1fr); /*7列に並べる*/
                gap: 10px;
                max-width: 500px;
            }
            .day-box{
                border: 1px solid #ccc;
                padding: 10px;
                text-align: center;
            }
        </style>
    </head>

    
    <body>
        <!--　↓Python側から送ったデータをはめ込むことができる　-->
        <h1>{{ title }}</h1>
        
        <div class="calendar-grid">
            <!-- 曜日の表示 -->
            {% for w_day in week_days %}
                <div class="day-box" style="background-color: #eee; font-weight: bold;">{{ w_day }}</div>
            {% endfor %}

            <!-- 日付の表示 -->
            {% for week in cal %}
                {% for day in week %}
                    <div class="day-box">
                        {% if day != 0 %}
                            {{ day }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>